/* Write your code here. */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notifications-heading {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 600;
  color: #0f172a;
}
.primary-container {
  background-color: #0b69ff;
  height: 60px;
  width: 500px;
  display: flex;
  margin-bottom: 20px;
}
.success-container {
  background-color: #2dca73;
  height: 60px;
  width: 500px;
  display: flex;
  margin-bottom: 20px;
}
.warning-container {
  background-color: #ffb800;
  height: 60px;
  width: 500px;
  display: flex;
  margin-bottom: 20px;
}
.danger-container {
  background-color: #ff0b37;
  height: 60px;
  width: 500px;
  display: flex;
  margin-bottom: 20px;
}
.icon {
  height: 20px;
  width: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.message {
  font-family: Roboto;
  font-weight: 500;
  margin-top: 20px;
  color: #ffffff;
}
